img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}


button {
    padding: 8px 15px;
    background-color: lightblue;
    cursor: pointer;
}

input {
    padding: 8px;
    width: 330px;
}
